@model AlmoCar.ViewModel.HomeViewModel

@{
    ViewData["Title"] = "Cardapio";
}


<partial name="_Carousel" />
<h1>Itens em Destaque</h1>
<div class="row">
    @foreach (var Item in Model.ItensEmDestaque)
    {
        <partial name="_Card" for="@Item"></partial>
    }
</div>
